@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));
/* Custom box shadow for inputs */


@theme inline {
  --color-primary: var(--color-neutral-900);
  --shadow-custom:
      0px 2px 3px -1px rgba(0, 0, 0, 0.1), 0px 1px 0px 0px rgba(25, 28, 33, 0.02),
      0px 0px 0px 1px rgba(25, 28, 33, 0.08);

}
.dark {
  --color-primary: var(--color-neutral-100);
}


